<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Машина за гласуване</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="all" href="../styles/voter.css" />
  </head>
  <body class="container">
    <h1 style="background:green"><%= @title %></h1>
    <%= yield %>
  </body>
</html>